html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #efefef;
}

header{
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
}

#titulo{
    font-size: 4rem;
    text-align: center;
}

.container{
    width: 400px; /* ya que las imágenes utilizan un ancho de 400px */
    margin: 0 auto;
}

section article{
    transition: box-shadow 0.3s ease; /* que queremos animar (puede ser 'all'), tiempo que queremos que tome la transición entre el punto de inicio y el punto final, algoritmo con el cual va a acelerar y desacelerar mi animación: ease, ease-in, ease-in-out, ease-out, linear */
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3); /* desplazamiento hacia la derecha, desplazamiento hacia abajo, difuminación de la sombra, color */
}

section article h2, section article p{
    margin: 1rem;
}

footer{
    background-color: #222;
    padding: 3rem;
    color: #fff;

}

footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    transition: color 0.3 ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    color: cornflowerblue;
}